<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sites>
      <site name="website">
        <patch:attribute name="profileMappingEnabled">false</patch:attribute>        
      </site>
    </sites>
    <settings>
      <setting name="Feature.ProfileMapper.Repository.IndexName" value="sitecore_profilemaps_web_index" />
      <setting name="Feature.ProfileMapper.Repository.ProfileMapCache.Enabled" value="true" />
      <setting name="Feature.ProfileMapper.Repository.ProfileMapCache.Name" value="ProfileMap.Cache" />
      <setting name="Feature.ProfileMapper.Repository.ProfileMapCache.SetsKey" value="ProfileMap.Cache.Sets" />
      <setting name="Feature.ProfileMapper.Repository.ProfileMapCache.MaxSize" value="20MB" />
      <setting name="Feature.ProfileMapper.Repository.ProfileMapRoot" value="/sitecore/content/Profile Mapper" />
    </settings>
    <commands>
      <command name="feature:profilemapper:scaffoldprofilekey" type="Sitecore.Feature.ProfileMapper.Shell.Framework.Commands.ScaffoldProfileKey, Sitecore.Feature.ProfileMapper" />
    </commands>
    <pipelines>
      <processItem>
        <processor type="Sitecore.Feature.ProfileMapper.Analytics.Pipelines.ProcessItem.CollectMappedParameters, Sitecore.Feature.ProfileMapper" patch:after="*[@type='Sitecore.Analytics.Pipelines.ProcessItem.CollectParameters,Sitecore.Analytics']" />
      </processItem>
      <getContentEditorWarnings>
        <processor type="Sitecore.Feature.ProfileMapper.Pipelines.GetContentEditorWarnings.ProfileMapTrackingFieldNotSet, Sitecore.Feature.ProfileMapper" />
      </getContentEditorWarnings>
    </pipelines>
    <processors>
      <uiScaffoldProfileKey>
        <processor mode="on" type="Sitecore.Feature.ProfileMapper.Shell.Framework.Pipelines.ScaffoldProfileKey, Sitecore.Feature.ProfileMapper" method="GetProfileKeyName" />
        <processor mode="on" type="Sitecore.Feature.ProfileMapper.Shell.Framework.Pipelines.ScaffoldProfileKey, Sitecore.Feature.ProfileMapper" method="ExecuteScaffolding" />
      </uiScaffoldProfileKey>
    </processors>
  </sitecore>
</configuration>